{% extends "layout.html" %}
{% block content %}

<br>
<br>
<div class="w3-container w3-row-padding">
<div class="w3-quarter">
<div class="w3-card-4 w3-cell-row" style="width:100%">
  <img src="static/images/1.png" style="width:100%">
  <div class="w3-container w3-center w3-yellow">
    <p><strong>Atul Patil </strong></p>
    <p>9359648778</p>
  </div>
</div>
</div> 

<div class="w3-quarter">
<div class="w3-card-4 w3-cell-row" style="width:100%">
  <img src="static/images/1.png" style="width:100%">
  <div class="w3-container w3-center w3-yellow">
    <p><strong>Shubham Patil</strong></p>
    <p>9404574658</p>
  </div>
</div>
</div>

<div class="w3-quarter">
<div class="w3-card-4 w3-cell-row" style="width:100%">
  <img src="static/images/1.png" style="width:100%">
  <div class="w3-container w3-center w3-yellow">
    <p><strong>Ashish Shewale</strong></p>
    <p>7385886697</p>
  </div>
</div>
</div>
<div class="w3-quarter">
<div class="w3-card-4 w3-cell-row" style="width:100%">
  <img src="static/images/1.png" style="width:100%">
  <div class="w3-container w3-center w3-yellow">
    <p><strong>Harsh Suratwala </strong></p>
    <p>9518307470</p>
  </div>
</div>
</div>
</div>
<br>
<br>
  {% endblock %}