{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Importance of Marketing</h1>
        </header>
        
        <div class="w3-container">
          <p>
            Marketing is important because how else will you make people aware that you're selling a product or service? Marketing drives product awareness, cultivates brand credibility, builds trust among your target buyers and provides value to your audience in the form of information, entertainment and inspiration.</p>
        </div>
        
        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>
        
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Data Driven Marketing</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Data-driven marketing is a method of marketing that uses data, acquired through customer interactions, and from third parties to gain a better view into customers' motivations, preferences and behaviors.</p>

            </div>
            <footer class="w3-container w3-blue">
                <h5></h5>
              </footer>
              
              </div>
            
           
        <div class="w3-card-4 w3-margin">

                    <header class="w3-container w3-blue">
                      <h1>Benefits of data-driven marketing</h1>
                    </header>
                    
            <div class="w3-container">
                      <p>
                        The benefits of data-driven marketing and especially data-driven advertising are significant.

                        More efficient media buying. Data-driven marketing is probably the most advanced in the programmatic buying sector. By leveraging algorithms and machine learning, ad agencies and marketers are removing a lot of the guesswork from media planning and buying.
                        
                        Targeting the right consumers. Ad spends and marketing messages are optimized to be shown only to the appropriate targets for the marketing campaign.
                        
                        Messaging audiences with relevant messages. The age of generic, one-size fits all marketing messages is over. There is still room for these big ideas for some brands, but for most companies, marketing messages must get more granular in order to be relevant enough to resonate with consumers.
                        
                        All of these benefits occurring in tandem result in significant ROIs for marketers.                   </p>
            </div>
                    
                    <footer class="w3-container w3-blue">
                      <h5></h5>
                    </footer>
                    
        </div>

        <div class="w3-card-4 w3-margin">

            <header class="w3-container w3-blue">
              <h1>Where did data-driven marketing come from and where is it going?</h1>
            </header>
            
            <div class="w3-container">
              <p>
                Modern data-driven marketing began with the invention of the customer relationship management (CRM) software. CRMs allow marketers to track who individual customers are including the name and contact information.

                CRMs enable direct mailing, and therefore direct marketing campaigns. Batches of customers may receive different types of messages based on whether the marketer thought the segment was a good fit, and what the customer cares about.
                
                The CRM gained new prominence in digital marketing with Salesforce’s innovation to bring it to the cloud. This, in turn, started the age of sales and marketing automation. </p>
            </div>
            
            <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
            
            </div>        
{% endblock %}